# Environment variables
.env

# System files
system_prompt.txt
reaction_data.json
user_restrictions.json
example_conversation.json
reminders.json
chroma_db/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
logs/
message_store/

# Virtual Environment
venv/
ENV/

# IDE files
.idea/
*.swp
*.swo
*.bak*

/scrap/
